# // Copyright (C) 2024 Yucheng Liu. Under the GNU AGPL 3.0 License.
# // GNU AGPL 3.0 License available at: https://www.gnu.org/licenses/agpl-3.0.txt

# Handle patterns that start with a dot
**/.*
!**/.git*

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
